/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        tri_layer {
            compatible = "zmk,behavior-tri-layer";
            #binding-cells = <0>;
            lower-layer = <1>;
            upper-layer = <2>;
            tri-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// | TAB  | Q | W | E | R | T |   | Y | U | I | O | P | BSPC |
// | CTRL | A | S | D | F | G |   | H | J | K | L | ; | '    |
// | SHFT | Z | X | C | V | B |   | N | M | , | . | / | ESC  |
//                  | GUI |LOWER| SPC |   | ENT |RAISE| ALT |
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I &kp O &kp P &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K &kp L &kp SEMI &kp SQT
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp ESC
                          &kp LGUI &tri_layer &kp SPACE   &kp RET &tri_layer &kp RALT
            >;
        };

        lower_layer {
// -----------------------------------------------------------------------------------------
// | TAB | 1 | 2 | 3 | 4 | 5 |   | 6 | 7 | 8 | 9 | 0 | BSPC |
// | BT  |BT1|BT2|BT3|BT4|BT5|   | ← | ↓ | ↑ | → |   | F12  |
// |SFT  |F1 |F2 |F3 |F4 |F5 |   |F6 |F7 |F8 |F9 |F10| F11  |
//                  | GUI |     | SPC |   | ENT |     | ALT |
            bindings = <
                &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                                                                                  &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &kp F12
                &kp LSHFT  &kp F1       &kp F2       &kp F3       &kp F4       &kp F5   &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
                                         &kp LGUI &trans &kp SPACE   &kp RET &trans &kp RALT
            >;
        };

        raise_layer {
// -----------------------------------------------------------------------------------------
// | TAB | ! | @ | # | $ | % |   | ^ | & | * | ( | ) | BSPC |
// |CTRL |HM |END|   |PGU|   |   | - | = | [ | ] | \ | `    |
// |SFT  |INS|DEL|ALT|PGD|PSC|   | _ | + | { | } | | | ~    |
//                  | GUI |     | SPC |   | ENT |     | ALT |
            bindings = <
                &kp TAB   &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT
                                                             &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
                &kp LCTRL &kp HOME &kp END  &trans   &kp PG_UP &trans
                                                             &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp GRAVE
                &kp LSHFT &kp INS  &kp DEL  &kp LALT &kp PG_DN &kp PSCRN
                                                             &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp PIPE &kp TILDE
                                     &kp LGUI &trans &kp SPACE   &kp RET &trans &kp RALT
            >;
        };

        adjust_layer {
// -----------------------------------------------------------------------------------------
// |RESET|     |     |     |     |     |   |VOL- |MUTE |VOL+ |PREV |NEXT | DEL |
// |BOOT |     |     |     |     |     |   |HOME |PGDN |PGUP | END |     |      |
// |     |     |     |     |     |     |   | BT0 | BT1 | BT2 | BT3 | BT4 |      |
//                  | GUI |     | SPC |   | ENT |     | ALT |
            bindings = <
                &sys_reset &trans &trans &trans &trans &trans
                                                             &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &kp C_PREV &kp C_NEXT &kp DEL
                &bootloader &trans &trans &trans &trans &trans
                                                             &kp HOME &kp PG_DN &kp PG_UP &kp END &trans &trans
                &trans &trans &trans &trans &trans &trans
                                                             &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans
                                    &kp LGUI &trans &kp SPACE   &kp RET &trans &kp RALT
            >;
        };
    };
};